html,
body {
  height: 100%;
}

body {
  display: block;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 0px;
  background-color: var(--color-background);
  color: var(--color-text-dark)
}

.row {
  display: block;
}

@media (min-width: 768px) {
  .row {
    display: flex;
  }
  body {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}


/* Contenedor de las cartas */
.form-signin {
  max-width: 840px;
  padding: 0;
  margin: 0;
}

.form-signin .checkbox {
  font-weight: 400;
}
@media (min-width: 768px) {
  .form-signin {
    margin: auto;
    padding: 15px;
  }
}
/* carta azul saludo y boton */
.card-hello {
  background-color: var(--color-primario);
  color: var(--color-text-light);
  padding: 3rem;
  border-radius: 20px;
  margin:auto;
  min-width: 30%;
  display: none;
}

.card-hello p {
  display: none;
}
#register {
  display: none;
}

.card-hello h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
}

#msgCount, #register {
  transition: all 0.3s ease-in-out;
}


@media (min-width: 768px) {
  .card-hello {
    display: block;
  }
  .card-hello p {
    display: block;
  }

  #register {
    display: initial;
  }
  .card-hello h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}

.card-hello .btn-primary{

  background-color: var(--color-primario);
  color: var(--color-text-light);
  border-color: var(--color-background);
}

.card-hello .btn-primary:hover{
  background-color: var(--color-background);
  color: var(--color-text-dark);
  border-color: var(--color-background);

}

/* carta blanca izquierda login*/
.card-login {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  margin: auto;
  padding: 3rem;
  border-radius: 20px 20px 20px 20px;
  height: 300px;
  
}

@media (min-width: 768px) {
  .card-login {
    border-radius: 0 20px 20px 0;
  }
}

/* carta blanca derecha registro */
.card-register {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  margin: auto;
  padding: 3rem;
  border-radius: 20px 0px 0px 20px;
  height: 300px;
  transition: all 0.3s ease-in-out;
}

#register-card-m {
  display: block;
}

#login-colapse {
  transition: all 0.3s ease-in-out;
}

#register-colapse {
  display: none;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  #register-colapse {
    display: block;
  }

  #register-card-m {
    display: none;
  }
}
/* Configuraciones colapse animacion */
.colapse-js{
  max-width: 0%;
  overflow: hidden;
  padding: 0;
  margin: auto
}

.show-active {
  max-width: 100%;
}

@media (min-width: 768px) {
  .show-active {
    max-width: 50%;
  }
}


/* controles y botones */

.form-control{
  background-color: var(--color-background);
  border-radius: 25px;
  border-color: var(--color-background);
  margin-bottom: .8rem;
}

.btn-primary:hover {
  color: var(--color-texto-dark);
  background-color: var(--color-background);
  border-color: var(--color-secundario);
}
.btn-primary {
  color: var(--color-texto-light);
  background-color: var(--color-secundario);
  border-color: var(--color-secundario);
  color: var(--color-text-light);
  padding: .5rem 2rem;;
  border-radius: 25px;
}


