html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-background);
  color: var(--color-text-dark)
}




.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.row {
  display: block;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .row {
    display: flex;
  }
}

.form-signin {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

/* carta azul derecha */
.card-hello {
  background-color: var(--color-primario);
  color: var(--color-text-light);
  padding: 3rem;
  border-radius: 20px;
  margin:auto;
  max-width: 50%;

}

.card-hello p {
  display: none;
}
#register {
  display: none;
}

.card-hello h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
}
@media (min-width: 768px) {
.card-hello p {
  display: block;
}

#register {
  display: initial;
}
.card-hello h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
}



.card-hello .btn-primary{

  background-color: var(--color-primario);
  color: var(--color-text-light);
  border-color: var(--color-background);
}

.card-hello .btn-primary:hover{
  background-color: var(--color-background);
  color: var(--color-text-dark);
  border-color: var(--color-background);

}

/* carta blanca izquierda */


.card-login {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  margin: auto;
  padding: 3rem;
  border-radius: 0 20px 20px 0;
  height: 300px;
  
}

.colapse-js{
  max-width: 0%;
  overflow: hidden;
  padding: 0;
  margin: auto
}

.form-control{
  background-color: var(--color-background);
  border-radius: 25px;
  border-color: var(--color-background);
}

.btn-primary:hover {
  color: var(--color-texto-dark);
  background-color: var(--color-background);
  border-color: var(--color-secundario);
}
.btn-primary {
  color: var(--color-texto-light);
  background-color: var(--color-secundario);
  border-color: var(--color-secundario);
  color: var(--color-text-light);
  padding: .5rem 2rem;;
  border-radius: 25px;
}


